# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Dakar,SN,14.6937,-17.4441,77.13,50,0,13.80,clear sky,2022-11-27 07:51:07
1,1,Punta Arenas,CL,-53.1500,-70.9167,42.91,70,40,3.44,scattered clouds,2022-11-27 07:51:08
2,2,Mahebourg,MU,-20.4081,57.7000,80.89,61,40,13.80,scattered clouds,2022-11-27 07:47:07
3,3,Volgorechensk,RU,57.4393,41.1555,15.67,95,95,6.11,overcast clouds,2022-11-27 07:51:08
4,4,Puerto Ayora,EC,-0.7393,-90.3518,66.54,98,95,6.38,overcast clouds,2022-11-27 07:51:09

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [5]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Dakar,SN,14.6937,-17.4441,77.13,50,0,13.80,clear sky,2022-11-27 07:51:07
2,2,Mahebourg,MU,-20.4081,57.7000,80.89,61,40,13.80,scattered clouds,2022-11-27 07:47:07
6,6,Dingle,PH,10.9995,122.6711,82.17,74,12,10.25,few clouds,2022-11-27 07:51:10
12,12,Quelimane,MZ,-17.8786,36.8883,84.15,74,40,11.50,scattered clouds,2022-11-27 07:51:12
21,21,Umm Bab,QA,25.2142,50.8072,80.28,39,8,7.54,clear sky,2022-11-27 07:51:16
26,26,Butaritari,KI,3.0707,172.7902,81.43,76,100,9.86,overcast clouds,2022-11-27 07:51:18
27,27,Banjar,ID,-8.1900,114.9675,81.28,87,83,3.44,light rain,2022-11-27 07:51:18
39,39,Phan Thiet,VN,10.9333,108.1000,82.87,75,84,12.68,broken clouds,2022-11-27 07:51:24
40,40,Vanimo,PG,-2.6741,141.3028,82.36,75,100,5.53,overcast clouds,2022-11-27 07:51:24
46,46,Pampierstad,ZA,-27.7832,24.6877,78.66,45,1,10.42,clear sky,2022-11-27 07:52:28

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [6]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities_df = preferred_cities_df
clean_travel_cities_df.dropna()
# Display sample data
clean_travel_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Dakar,SN,14.6937,-17.4441,77.13,50,0,13.80,clear sky,2022-11-27 07:51:07
2,2,Mahebourg,MU,-20.4081,57.7000,80.89,61,40,13.80,scattered clouds,2022-11-27 07:47:07
6,6,Dingle,PH,10.9995,122.6711,82.17,74,12,10.25,few clouds,2022-11-27 07:51:10
12,12,Quelimane,MZ,-17.8786,36.8883,84.15,74,40,11.50,scattered clouds,2022-11-27 07:51:12
21,21,Umm Bab,QA,25.2142,50.8072,80.28,39,8,7.54,clear sky,2022-11-27 07:51:16

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [7]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

           City Country  Max Temp Current Description      Lat       Lng
0         Dakar      SN     77.13           clear sky  14.6937  -17.4441
2     Mahebourg      MU     80.89    scattered clouds -20.4081   57.7000
6        Dingle      PH     82.17          few clouds  10.9995  122.6711
12    Quelimane      MZ     84.15    scattered clouds -17.8786   36.8883
21      Umm Bab      QA     80.28           clear sky  25.2142   50.8072
26   Butaritari      KI     81.43     overcast clouds   3.0707  172.7902
27       Banjar      ID     81.28          light rain  -8.1900  114.9675
39   Phan Thiet      VN     82.87       broken clouds  10.9333  108.1000
40       Vanimo      PG     82.36     overcast clouds  -2.6741  141.3028
46  Pampierstad      ZA     78.66           clear sky -27.7832   24.6877

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [8]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Dakar,SN,77.13,clear sky,14.6937,-17.4441,
2,Mahebourg,MU,80.89,scattered clouds,-20.4081,57.7000,
6,Dingle,PH,82.17,few clouds,10.9995,122.6711,
12,Quelimane,MZ,84.15,scattered clouds,-17.8786,36.8883,
21,Umm Bab,QA,80.28,clear sky,25.2142,50.8072,
26,Butaritari,KI,81.43,overcast clouds,3.0707,172.7902,
27,Banjar,ID,81.28,light rain,-8.1900,114.9675,
39,Phan Thiet,VN,82.87,broken clouds,10.9333,108.1000,
40,Vanimo,PG,82.36,overcast clouds,-2.6741,141.3028,
46,Pampierstad,ZA,78.66,clear sky,-27.7832,24.6877,

In [9]:
len(hotel_df)

180

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [10]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [11]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [12]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Dakar,SN,77.13,clear sky,14.6937,-17.4441,Dakar
2,Mahebourg,MU,80.89,scattered clouds,-20.4081,57.7000,Mahebourg
6,Dingle,PH,82.17,few clouds,10.9995,122.6711,Pototan
12,Quelimane,MZ,84.15,scattered clouds,-17.8786,36.8883,Quelimane
21,Umm Bab,QA,80.28,clear sky,25.2142,50.8072,Umm Bab

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [13]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df
clean_hotel_df.dropna()

# Display sample data
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Dakar,SN,77.13,clear sky,14.6937,-17.4441,Dakar
2,Mahebourg,MU,80.89,scattered clouds,-20.4081,57.7000,Mahebourg
6,Dingle,PH,82.17,few clouds,10.9995,122.6711,Pototan
12,Quelimane,MZ,84.15,scattered clouds,-17.8786,36.8883,Quelimane
21,Umm Bab,QA,80.28,clear sky,25.2142,50.8072,Umm Bab

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [14]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [15]:
# Set the file name.
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [16]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [17]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Dakar</dd>\n<dt>City</dt><dd>Dakar</dd>\n<dt>Country</dt><dd>SN</dd>\n<dt>Current Weather</dt><dd>clear sky and 77.13 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mahebourg</dd>\n<dt>City</dt><dd>Mahebourg</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 80.89 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pototan</dd>\n<dt>City</dt><dd>Dingle</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Current Weather</dt><dd>few clouds and 82.17 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Quelimane</dd>\n<dt>City</dt><dd>Quelimane</dd>\n<dt>Country</dt><dd>MZ</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 84.15 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Umm Bab</dd>\n<dt>City</dt><dd>Umm Bab</dd>\n<dt>Country</dt><dd>QA</dd>\n<dt>Current Weather</dt><dd>clear sky and 80.28 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Ukiangang</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.43 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Banjar</dd>\n<dt>City</dt><dd>Banjar</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>light rain and 81.28 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Phan Thiet</dd>\n<dt>City</dt><dd>Phan Thiet</dd>\n<dt>Country</dt><dd>VN</dd>\n<dt>Current Weather</dt><dd>broken clouds and 82.87 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Vanimo</dd>\n<dt>City</dt><dd>Vanimo</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pampierstad</dd>\n<dt>City</dt><dd>Pampierstad</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>clear sky and 78.66 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [18]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   14.6937  -17.4441
2  -20.4081   57.7000
6   10.9995  122.6711
12 -17.8786   36.8883
21  25.2142   50.8072
26   3.0707  172.7902
27  -8.1900  114.9675
39  10.9333  108.1000
40  -2.6741  141.3028
46 -27.7832   24.6877

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [19]:
# Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))